<app-info-pod #infoPod podTitle="Qualifications" headerLink="Add qualification">
  <ng-icon podHeaderButton name="featherPlusCircle" />

  @if (qualifications().length) {
  <ul class="flex flex-col gap-4">
    @for (q of qualifications(); track q.uuid) {
    <app-qualifications-text
      [name]="q.name"
      [school]="q.school"
      [yearStart]="q.yearStart"
      [yearEnd]="q.yearEnd"
      [subject]="q.subject"
      [grade]="q.grade"
      (remove)="handleRemove(q.uuid)"
    />
    }
  </ul>
  } @else {
  <p class="text-sm text-gray-600">No qualifications added yet.</p>
  }

  <ng-template #modalContent>
    <app-qual-modal (closeModal)="infoPod.isOpen.set(false)" />
  </ng-template>
</app-info-pod>
