<app-info-pod #infoPod podTitle="Work Experience" headerLink="Add work experience">

  <ng-icon podHeaderButton name="featherPlusCircle" />

  @if (experience().length) {
  <ul class="flex flex-col gap-4">
    @for (exp of experience(); track exp.uuid) {
    <app-exp-text [expRole]="exp.expRole" [company]="exp.company" [from]="exp.yearStart" [to]="exp.yearEnd"
      (remove)="handleRemove(exp.uuid)" />
    }
  </ul>
  } @else {
  <p class="text-sm text-gray-600">No work experience added yet.</p>
  }
  <ng-template #modalContent>
    <app-experience-modal (closeModal)="infoPod.isOpen.set(false)"/>
  </ng-template>

</app-info-pod>