<div class="mx-auto hidden lg:block lg:max-w-[1280px] lg:py-[20px]">

  <form class="grid grid-cols-1 gap-5 md:grid-cols-3 md:items-center px-10" [formRoot]="searchForm">
    <div class="grid grid-cols-[max-content_1fr] gap-x-3 gap-y-1 md:self-start">
      <label for="job-title" class="self-center font-bold text-rd-black">
        What
      </label>

      <input type="text" id="job-title" placeholder='e.g. "account manager"' [formField]="searchForm.what"
        [class.border-red-500]="searchForm.what().touched() && searchForm.what().invalid()"
        class="w-full rounded-md border border-rd-black px-[15px] py-1 lg:py-[7px]" />

      @if (searchForm.what().touched() && searchForm.what().invalid()) {
      <p class="col-start-2 text-sm text-red-500">
        {{ searchForm.what().errors()[0].message }}
      </p>
      }
    </div>

    <div class="grid grid-cols-[max-content_1fr] gap-x-3 gap-y-1 md:self-start">
      <label for="job-location" class="self-center font-bold text-rd-black">
        Where
      </label>

      <input type="text" id="job-location" placeholder="town or postcode" [formField]="searchForm.where"
        [class.border-red-500]="searchForm.where().touched() && searchForm.where().invalid()"
        class="w-full rounded-md border border-rd-black px-4 py-1 lg:py-[7px]" />

      @if (searchForm.where().touched() && searchForm.where().invalid()) {
      <p class="col-start-2 text-sm text-red-500">
        {{ searchForm.where().errors()[0].message }}
      </p>
      }
    </div>
<button type="submit"
  class="md:self-start cursor-pointer rounded-md bg-[#cf04a9] px-3 py-2 font-medium text-white hover:bg-[#9f0885]">
  Search jobs
</button>

  </form>
</div>

@if (isOpen()) {
<app-modal-dropdown (closed)="isOpen.set(false)">
  <app-mobile-job-search (closeModal)="isOpen.set(false)" />
</app-modal-dropdown>
}