@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import 'tailwindcss';

@theme {
  --font-redHat: 'Red Hat Text', sans-serif;

  /* Colours */
  --color-rd-pink: #ff03cd;
  --color-rd-black: #0f151a;
  --color-rd-green: #4fb442;
  --color-rd-blue: #1e1ef0;
  --color-rd-drkblue: #081351;
  --color-rd-whisper: #e9e9fe;
}

@layer base {
  html {
    font-family: var(--font-redHat);
    color: #0f151a;
    @apply antialiased;
  }
}

@layer utilities {
  .label-style {
    color: #0f151a;
    font-weight: 700;
  }
  .input-style {
    border-radius: 6px;
    padding: 10px 15px;
    border: 1px solid #0f151a;
  }
  .styled-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}

.nav-active-border-pink::after {
  border-color: var(--color-rd-pink);
}
.nav-active-border-green::after {
  border-color: var(--color-rd-green);
}
.slick-slide > div {
  margin-right: 20px;
}
